@model ProjectScrubsAC.Models.UserModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Create yser failed, Check your fiels.");
    <div>
        <fieldset>
            <legend>Create new user</legend>
            <div class="editor-label">@Html.LabelFor(u => u.Email)</div>

            <div class="editor-field">
                @Html.TextBoxFor(u => u.Email)
                @Html.ValidationMessageFor(u => u.Email)
            </div>

            <div class="editor-label">@Html.LabelFor(u => u.Password)</div>

            <div class="editor-field">
                @Html.TextBoxFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <input type="submit" value="Create User" />
        </fieldset>
    </div>
}
